@import 'variables';

header {
    background-color: $primary-color;

    &, a {
        color: #000000;
        text-decoration: none;
    }
}

.header-container {
    height: $header-height-mobile;
    max-width: $container-width;
    margin: auto;

    padding: $padding/3 $padding;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 65%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        height: 100%;
    }
}

@media (min-width: 500px) {
    .header-container {
        height: $header-height;

        flex-direction: row;

    }

    .logo {
        height: 100%;
    }
}